.chat-messages {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 15px;
    overflow-y: auto;
}

.message {
    display: flex;
}

.message-content {
    border-radius: 3px;
    padding: 6px 9px;
    font-size: 14px;
    margin-bottom: 14px;
    max-width: 250px;
}

.message.owner {
    justify-content: flex-end;
}

.message.owner .message-content {
    color: #fff;
    background: lightseagreen;
}